<form action="add" method="post">
  Twitter Handle: <input type="text" name="handle" value="<%= handle if handle %>" ><br>

  Link: <input type="url" name="content" placeholder="https://medium.com/@SawyerMerchant_46940/the-importance-of-refactoring-in-tdd-a1543ccaba8a#.ohbv90j7b"><br>

  Description: <input type="text" name="description" placeholder="Post about Programming">

  <input type="submit" value="Submit">

</form>


<p>
Will post to others as:
<br>
Checkout @sawyermerchant 's post about programming
</p>

<p>
Will post to yours as:
<br>
Checkout my post about programming
</p>

<form action="/test" method="post">
  <input type="submit" name="test" value="Fire">
</form>