<form action="add" method="post" class="form-horizontal">
  <div class="form-group">
    <label for="handle" class="control-label col-xs-2 col-xs-2">Handle</label>
    <div class="col-xs-10">
      <input type="text" class="form-control" name="handle" value="<%= handle if handle %>" >
    </div>
  </div>
  <div class="form-group">
    <label for="handle" class="control-label col-xs-2">Link</label>
    <div class="col-xs-10">
      <input type="url" class="form-control" name="link" placeholder="<%= link if link %>">
    </div>
  </div>
  <div class="form-group">
    <label for="handle" class="control-label col-xs-2">Description</label>
    <div class="col-xs-10">
      <input type="text" class="form-control" name="description" placeholder="<%= description if description %>">
    </div>
  </div>
    <input type="submit" value="Submit" class="col-xs-3 col-xs-offset-3 btn btn-primary">
</form>

<% if handle == "@sawyermerchant" %>
  <form action="/test" method="post">
    <div class="form-group">
      <input type="submit" name="test" value="Fire" class="btn btn-danger col-xs-2 col-xs-offset-1">
    </div>
  </form>
<% end %>
