<form action="add" method="post">
  Twitter Handle: <input type="text" name="handle" value="<%= handle if handle %>" ><br>

  Link: <input type="url" name="link" placeholder="<%= link if link %>"><br>

  Description: <input type="text" name="description" placeholder="<%= description if description %>">

  <input type="submit" value="Submit">
</form>


<p>
Will post to others as:
<br>
Checkout @sawyermerchant 's post about programming
</p>

<p>
Will post to yours as:
<br>
Checkout my post about programming
</p>

<form action="/queue" method="get">
  <input type="submit" value="See the queue!">
</form>
